/*body {
  height : 1200px;
  width : 100%;
  background-color: #dedede; 
  padding: 2px;
}

section {
  margin : 2px !important;
  padding: 2px !important;
  padding-left : 1px !important;
  padding-right: 1px !important;
}
section > div {
  min-height : 100px;
  background-color : #c14543;
  margin : 2px !important;
}

.block1 {  min-height : 200px}
.block5 {  min-height : 200px}
.block6 {  min-height : 270px}
.block7 {  min-height : 230px}
.block8 {  min-height : 300px}*/

/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
*/