<html lang="en" >
<head>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <!-- Icons! -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/main.css">
</head>
  <body ng-app="myApp" ng-cloak class="darkBackground">

    <div layout="row" ng-controller="MyController">
      <!-- Left nav bar -->
<!--       <md-sidenav 
          md-component-id="left" 
          class="md-sidenav-left"
          md-whiteframe="6"
          md-is-locked-open="false">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
          <md-button>
            Right Bar Button
          </md-button>
      </md-sidenav> -->
      <div flex="25" layout-padding class="container lightBackground">
        <div layout="column">
          
          <div flex="auto" ng-controller="myName">
            <div layout="row" layout-align="center center" class="titleContainer">
              <h3 class="md-headline titleColor">
                {{firstName + " " + lastName}}
              </h3>
            </div>
            <md-divider class="titleDivider"></md-divider>
          </div>

          <div flex="10" ng-controller="myLinks">
            <div layout="row" layout-align="center center">
              <md-button class="linkBtn" ng-repeat="link in linkNames">
                {{link}}
              </md-button>
            </div>
          </div>

          <div flex="grow" ng-controller="myData">
            <div layout="column" layout-align="start start">


              <md-list layout-align="start start">
                <div ng-repeat="category in categoryNames">
                  <md-list-item class="projectListItem listItemTItle" >
                    <h3 class="md-subhead projectListItemContent titleColor">
                      {{category}}
                    </h3>
                  </md-list-item>
                  <md-divider class="projectListDivider"></md-divider>
                  <md-list-item class="projectListItem">
                    <md-button md-no-ink class="projectListItemContent">Software</md-button>
                  </md-list-item>
                </div>



                <md-list-item class="projectListItem">
                  <md-button md-no-ink class="projectListItemContent">Hardware</md-button>
                </md-list-item>
                <md-list-item class="projectListItem">
                  <md-button md-no-ink class="projectListItemContent">Woodworking</md-button>
                </md-list-item>
                <md-list-item class="projectListItem">
                  <md-button md-no-ink class="projectListItemContent">Gardening</md-button>
                </md-list-item>

                <md-list-item class="projectListItem listItemTitle">
                  <h3 class="md-subhead projectListItemContent titleColor">
                    RESUME
                  </h3>
                </md-list-item>
                <md-divider class="projectListDivider"></md-divider>
                <md-list-item class="projectListItem">
                  <md-button md-no-ink class="projectListItemContent">Biological Science</md-button>
                </md-list-item>
                <md-list-item class="projectListItem">
                  <md-button md-no-ink class="projectListItemContent">Software Engineering</md-button>
                </md-list-item>
              </md-list>
            </div>

          </div>
        </div>
      
      </div>

      <!-- Main Content -->
      <md-content flex layout="row" layout-padding class="darkBackground">
  <!--       <div layout="column" layout-fill layout-align="top center">
          <div>

          </div>
        </div> -->
        <div flex layout="column">
          <md-card>
           <md-card-content>
<!--             <md-datepicker ng-model="birthday"></md-datepicker>
            <md-button ng-click="openLeftMenu()">
              Open Left Menu
            </md-button> -->
            <h2>Project 1</h2>
            <p>
              Project 1 Details
            </p>
           </md-card-content>
<!--            <md-card-footer>
             Card footer
           </md-card-footer> -->
          </md-card>
        </div>

        <div flex layout="column">
          <md-card>
           <md-card-content>
            <h2>Project 2</h2>
            <p>
              Project 2 Details
            </p>
          </md-card>

          <md-card>
           <md-card-content>
           <md-datepicker ng-model="birthday"></md-datepicker>
            <h2>Project 3</h2>
            <p>
              Project 3 Details
            </p>
          </md-card>
        </div>

      </md-content>

    </div>

    <!-- Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    
    <!-- Application bootstrap  -->
    <script src="js/app.js"></script>

  </body>
</html>